body {
    margin: 0;
    font-family: monospace;
    letter-spacing: 0.4px;
    background-color: var(--base-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --navbar-color: #fbfbfb;
    --secondary-color: #f9fafb;
    --base-bg: #ffffff;
    --border-color: #e5e7eb;
    --border-color-focused: #caccd1;
    --color-default: #4c5562;
    --color-high: #1f1f1f;
    --item-bg-hover: #f3f4f6;
    --input-color: black;
    color: var(--color-default);

    &.dark-mode {
        --navbar-color: #141c2b;
        --secondary-color: #374151;
        --base-bg: #111827;
        --border-color: #e5e7eb;
        --border-color-focused: #717682;
        --color-default: #9ca3af;
        --color-high: #d1d5db;
        --item-bg-hover: #080c13;
        --input-color: white;
    }
}

a, button {
    cursor: pointer;
}

input[type="text"] {
    border-radius: 2px;
    border: 1px solid var(--border-color);
    padding: 6px;
    outline: none;
    padding-left: 10px;

    &:focus, &:active {
        border-color: var(--border-color-focused);
    }

    &.is-invalid {
        border-color: red !important;
    }
}

input, textarea {
    color: var(--input-color);
    background-color: var(--secondary-color);
}

.error-message {
    color: red;
    font-size: 10px;
    opacity: 0.9;
}

.chat-default-examples-item {
    background-color: var(--secondary-color);
}

.main-wrapper {
    grid-template-columns: 280px 1fr;
    grid-template-rows: 1fr;
    display: grid;
    height: 100vh;

    .left-nav {
        grid-template-rows: auto 1fr auto;
        grid-template-columns: repeat(1,minmax(0,1fr));
        max-height: 100vh;
        display: grid;
        background-color: var(--navbar-color);
        border-radius: 22px;
        font-size: 0.9rem;

        .left-nav-header {
            justify-content: space-between;
            display: flex;
            padding: 0.875rem 0.75rem;
            align-items: center;
            background-color: var(--base-bg);

            a {
                @include grayButton;
            }
        }

        .left-nav-sessions {
            overflow: auto;
            padding: 0px 10px;

            ul {
                padding-left: 0;

                .left-nav-session {
                    a {
                        @include navLinkItem;
                    }
                }
            }
        }

        .left-nav-footer {
            ul {
                list-style: none;
                padding: 0px 10px;

                li {
                    a {
                        @include navLinkItem;
                    }
                }
            }
        }
    }

    .inner-wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: relative;
        max-width: 56rem;

        &.conversation-inner-wrapper {
            max-width: initial;

            .messaging-wrapper {
                max-width: 56rem;
                margin-left: auto;
                margin-right: auto;
            }

            .chat-wrapper-footer {
                margin-left: -8px;

                form {
                    max-width: 56rem;
                    text-align: center;
                    margin: auto;
                }
            }
        }

        .chat-wrapper {
            &.default-wrapper-true {
                display: flex;
                flex-direction: column;
                height: 100%;
            }

            .chat-wrapper-body {
                /*                display: flex;
                flex-direction: column;
                max-height: 100vh;*/

                &.default-true {
                    gap: 2rem;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                &.default-false {
                    max-height: 100vh;
                    overflow: auto;
                }

                .chat-default-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 4rem;

                    .chat-default-header {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .chat-default-models-wrapper-title {
                            max-width: 260px;

                            h1 {
                                font-size: 40px;
                                opacity: 0.4;
                                color: var(--color-high);
                                margin: 0.2rem 0px;
                            }

                            span {
                                font-size: 1rem;
                                color: var(--color-default);
                            }
                        }

                        .chat-default-models-wrapper {
                            max-width: 460px;
                            width: 100%;
                            padding: 0.75rem;
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            border-radius: 8px;
                            border: 1px solid var(--border-color);

                            .chat-default-models-label {
                                color: var(--color-default);
                            }

                            .chat-default-models-name {
                                font-size: 22px;
                                color: var(--color-high);
                            }
                        }
                    }

                    .chat-default-examples {
                        display: flex;
                        justify-content: space-around;
                        gap: 30px;

                        .chat-default-examples-item {
                            width: 100%;
                            padding: 1rem;
                            color: var(--color-default);
                            border-radius: 8px;
                            border: 1px solid var(--border-color);
                            cursor: pointer;
                            font-size: 1rem;

                            &:focus,
                            &:hover,
                            &:active {
                                border-color: var(--border-color-focused);
                                outline: none;
                            }
                        }
                    }
                }
            }

            .messaging-wrapper {
                gap: 2rem;
                display: flex;
                flex-direction: column;
                padding-top: 1.5rem;

                .messaging-wrapper-message {
                    display: block;
                    padding: 0.75rem;
                    min-height: 16px;

                    &.bot-message {
                        border-radius: 8px;
                        border: 1px solid var(--border-color);
                        background-color: var(--secondary-color);
                        position: relative;

                        &.glow-border {
                            border: transparent;
                        }

                        .ai-message-logo {
                            position: absolute;
                            left: -33px;
                            margin-top: -4px;
                            width: 24px;
                        }

                        .loading-wrapper {
                            position: absolute;
                            left: 25px;
                            top: 20px;
                        }

                        .loading {
                            animation-iteration-count: infinite;
                            animation-timing-function: ease-in;
                            position: absolute;
                            margin: auto;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background: #155d93;
                            border-radius: 50%;
                            animation: loading 4s infinite;
                        }

                        .loading:nth-child(1) {
                            animation-delay: 0.6s;
                            width: 4px;
                            height: 4px;
                            left: -15px;
                        }

                        .loading:nth-child(2) {
                            animation-delay: 0.8s;
                            width: 4px;
                            height: 4px;
                        }

                        .loading:nth-child(3) {
                            animation-delay: 1s;
                            width: 4px;
                            height: 4px;
                            right: -21px;
                        }
                    }
                }
            }

            .chat-wrapper-footer {
                padding-top: 2rem;
                padding-bottom: 2rem;
                position: absolute;
                bottom: 0px;
                width: 100%;

                form {
                    display: flex;
                }

                textarea {
                    padding: 0.75rem;
                    border-radius: 8px;
                    border: 1px solid var(--border-color);
                    background-color: var(--secondary-color);
                    resize: none;
                    width: 100%;
                    font-size: 14px;

                    &:focus,
                    &:hover,
                    &:active {
                        border-color: var(--border-color-focused);
                        outline: none;
                    }
                }
            }
        }
    }
}

.glow-border:after {
    --borderWidth: 1px;
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: 8px;
    animation: animatedgradient 1s ease alternate infinite;
    z-index: -1;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes loading {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(0px);
    }

    30% {
        transform: translateY(-8px);
    }

    40% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(-2px);
    }

    60% {
        transform: translateY(2px);
    }

    80% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(0px);
    }
}